<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Math">Number</label>  
  <div class="col-md-4">
  <input id="Math" name="Math" type="text" placeholder="30" class="form-control input-md">
  <span class="help-block">Any Number</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Math2">Name</label>  
  <div class="col-md-4">
  <input id="Math2" name="Math2" type="text" placeholder="20" class="form-control input-md">
  <span class="help-block">Any Number</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Submit button">Calculate</label>
  <div class="col-md-4">
    <button id="Submit button" name="Submit button" class="btn btn-primary">Go!</button>
  </div>
</div>

</fieldset>
</form>