@model Midterm2.Models.MathOperation

<p> This Is The Result :
  <ul>
    <li>@Model.LeftOperand</li>
    <li>@Model.RightOperand</li>
    <li>@Model.Operator</li>
    <li>@Model.Result</li>
  </ul>
</p>    